# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.idea
.metadata
.tm_properties
.vscode/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/*
!/build/app/outputs/flutter-apk/
/build/app/outputs/flutter-apk/*
!/build/app/outputs/flutter-apk/app-release.apk

# Dart
.dart_tool/

# Android
/android/app/src/main/assets/flutter_assets/kernel_blob.bin
/android/app/src/main/assets/flutter_assets/isolate_snapshot_data
/android/app/src/main/assets/flutter_assets/vm_snapshot_data

# iOS
/ios/Flutter/App.framework/App
/ios/Flutter/engine/Flutter.xcframework
/ios/Flutter/flutter_assets/kernel_blob.bin
/ios/Flutter/flutter_assets/isolate_snapshot_data
/ios/Flutter/flutter_assets/vm_snapshot_data
